extends layout

block content

	.home(ng-show="panels[0].status")
		.landing
			// Refer to landing.js for animations
			.logo.animated.fadeIn
				.block
					h1 THREE
				.block.name
					.circle#circle1
						p Creative
					.circle#circle2
						p Constructive
					.circle#circle3
						p Collaboration
				.block
					h1.bold CORE
				h2.headline Lorem Ipsum Dolor
		.description
			.title
				ul(style="list-style-type:circle")
					a(href="#about" style="list-style-type:circle") About
					a(href="#capabilities" style="list-style-type:circle") Capabalities
			.about#about
				img(src="/images/logo.png")
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed nunc nulla. Nunc eu tellus commodo, aliquet lectus, commodo lorem. Maecenas vitae suscipit magna. Vestibulum mattis sem ut leo lacinia efficitur. Quisque massa augue, at lobortis vel, euismod quis arcu. Morbi maximus ipsum ac pharetra vestibulum. Quisque non facilisis augue. Curabitur ac imperdiet quam, vitae dictum velit. Nullam tincidunt sem ac volutpat imperdiet. Mauris lacinia convallis dictum.
				h2 Creative
				p Quisque commodo feugiat diam ut pretium. Phasellus efficitur lacus id lectus bibendum elementum. Aliquam vitae neque sit amet orci pharetra porta in a tellus. Mauris in elit ac lectus imperdiet sagittis vitae vulputate nisl. Nullam non consectetur arcu.  Integer venenatis libero enim, vitae efficitur ante fringilla eu. Aliquam erat volutpat. Morbi consectetur blandit libero, a dictum  nunc viverra ac. Aliquam commodo urna vitae sapien iaculis rhoncus.
				h2 Co-Creation
				p Donec sed velit eget nunc iaculis tempus non id ex. Curabitur convallis dapibus nisl, non feugiat sem. Quisque ac quam ut nibh  mattis viverra. Vivamus eu auctor ante. Sed laoreet sem sed scelerisque tempor. Vestibulum lacinia iaculis massa, nec ornare nisl  tristique quis. Phasellus a eleifend risus, eu tristique mauris. Cras pretium faucibus elementum. Donec arcu dui, tempus vel porta  eu, ultricies eget erat. Donec lacinia ex at nunc viverra, eu ultricies lorem aliquet. Cras lectus leo, porttitor ullamcorper metus in,  auctor semper enim.
				h2 Collaboration
				p Mauris accumsan nibh eget nibh blandit mollis. Aliquam consectetur odio turpis, eget consequat tortor facilisis eget. Curabitur accumsan tristique massa, vitae malesuada sem tristique ac. Etiam rutrum augue nec justo congue, ac ullamcorper dui posuere. Curabitur rhoncus fringilla commodo. Quisque nec sapien aliquet, accumsan nibh vitae, rutrum velit. Integer fermentum placerat  tortor, eu vehicula tortor dapibus non. Curabitur tincidunt posuere gravida. Integer condimentum eros vel orci sagittis lobortis.
				button Icons
			.capabalities#capabilities
				h2 Capabalities
				p Quisque commodo feugiat diam ut pretium. Phasellus efficitur lacus id lectus bibendum elementum. Aliquam vitae neque sitamet orci pharetra porta in a tellus. Mauris in elit ac lectus imperdiet sagittis vitae vulputate nisl. Nullam non consectetur arcu. Integer venenatis libero enim, vitae efficitur ante fringilla eu. Aliquam erat volutpat. Morbi consectetur blandit libero, a dictum nunc viverra ac. Aliquam commodo urna vitae sapien iaculis rhoncus
				.icons
				.images
					ul(ng-repeat = "image in images")
						img(src='images/ThreeCore/{{image.img}}')
						p {{image.name}}
	.work(ng-show="panels[1].status")
		.intro.animated.fadeIn
			h1 Work
			p Quisque commodo feugiat diam ut pretium. Phasellus efficitur lacus id lectus bibendum elementum. Aliquam vitae neque sit amet orci pharetra porta in a tellus. Mauris in elit ac lectus imperdiet sagittis vitae vulputate nisl. Nullam non consectetur arcu. Integer venenatis libero enim, vitae efficitur ante fringilla eu. Aliquam erat volutpat. Morbi consectetur blandit libero, a dictum nunc viverra ac. Aliquam commodo urna vitae sapien iaculis rhoncus.
			p Donec sed velit eget nunc iaculis tempus non id ex. Curabitur convallis dapibus nisl, non feugiat sem. Quisque ac quam ut nibh mattis viverra. Vivamus eu auctor ante. Sed laoreet sem sed scelerisque tempor. Vestibulum lacinia iaculis massa, nec ornare nisl tristique quis. Phasellus a eleifend risus, eu tristique mauris. Cras pretium faucibus elementum. Donec arcu dui, tempus vel porta eu, ultricies eget erat. Donec lacinia ex at nunc viverra, eu ultricies lorem aliquet. Cras lectus leo, porttitor ullamcorper metus in, auctor semper enim.
			p Mauris accumsan nibh eget nibh blandit mollis. Aliquam consectetur odio turpis, eget consequat tortor facilisis eget. Curabitur accumsan tristique massa, vitae malesuada sem tristique ac. Etiam rutrum augue nec justo congue, ac ullamcorper dui posuere. Curabitur rhoncus fringilla commodo. Quisque nec sapien aliquet, accumsan nibh vitae, rutrum velit. Integer fermentum placerat tortor, eu vehicula tortor dapibus non. Curabitur tincidunt posuere gravida. Integer condimentum eros vel orci sagittis lobortis.
		.clients
			h1 Clients
			ul(ng-repeat = "work in work")
				.images
					img(ng-click='makeColor(work.id)' ng-show="work.state" src='images/work/{{work.img}} green.png')
					img(ng-click='makeGreen(work.id)' ng-hide="work.state" src='images/work/{{work.img}}.png')
					p {{work.name}}
	.people(ng-show="panels[2].status")
		h1 People Page
	.blog(ng-show="panels[3].status")
		h1 Blog
		h2 Intro Info 
		p Quisque commodo feugiat diam ut pretium. Phasellus efficitur lacus id lectus bibendum elementum. Aliquam vitae neque sit amet orci pharetra porta in a tellus. Mauris in elit ac lectus imperdiet sagittis vitae vulputate nisl. Nullam non consectetur arcu. Integer venenatis libero enim, vitae efficitur ante fringilla eu. Aliquam erat volutpat. Morbi consectetur blandit libero, a dictum nunc viverra ac. Aliquam commodo urna vitae sapien iaculis rhoncus.
		p Donec sed velit eget nunc iaculis tempus non id ex. Curabitur convallis dapibus nisl, non feugiat sem. Quisque ac quam ut nibh mattis viverra. Vivamus eu auctor ante. Sed laoreet sem sed scelerisque tempor. Vestibulum lacinia iaculis massa, nec ornare nisl tristique quis. Phasellus a eleifend risus, eu tristique mauris. Cras pretium faucibus elementum. Donec arcu dui, tempus vel porta eu, ultricies eget erat. Donec lacinia ex at nunc viverra, eu ultricies lorem aliquet. Cras lectus leo, porttitor ullamcorper metus in, auctor semper enim.
		p Mauris accumsan nibh eget nibh blandit mollis. Aliquam consectetur odio turpis, eget consequat tortor facilisis eget. Curabitur accumsan tristique massa, vitae malesuada sem tristique ac. Etiam rutrum augue nec justo congue, ac ullamcorper dui posuere. Curabitur rhoncus fringilla commodo. Quisque nec sapien aliquet, accumsan nibh vitae, rutrum velit. Integer fermentum placerat tortor, eu vehicula tortor dapibus non. Curabitur tincidunt posuere gravida. Integer condimentum eros vel orci sagittis lobortis.
		.clients
		p Quisque commodo feugiat diam ut pretium. Phasellus efficitur lacus id lectus bibendum elementum. Aliquam vitae neque sit amet orci pharetra porta in a tellus. Mauris in elit ac lectus imperdiet sagittis vitae vulputate nisl. Nullam non consectetur arcu. Integer venenatis libero enim, vitae efficitur ante fringilla eu. Aliquam erat volutpat. Morbi consectetur blandit libero, a dictum nunc viverra ac. Aliquam commodo urna vitae sapien iaculis rhoncus.
		p Donec sed velit eget nunc iaculis tempus non id ex. Curabitur convallis dapibus nisl, non feugiat sem. Quisque ac quam ut nibh mattis viverra. Vivamus eu auctor ante. Sed laoreet sem sed scelerisque tempor. Vestibulum lacinia iaculis massa, nec ornare nisl tristique quis. Phasellus a eleifend risus, eu tristique mauris. Cras pretium faucibus elementum. Donec arcu dui, tempus vel porta eu, ultricies eget erat. Donec lacinia ex at nunc viverra, eu ultricies lorem aliquet. Cras lectus leo, porttitor ullamcorper metus in, auctor semper enim.
		p Mauris accumsan nibh eget nibh blandit mollis. Aliquam consectetur odio turpis, eget consequat tortor facilisis eget. Curabitur accumsan tristique massa, vitae malesuada sem tristique ac. Etiam rutrum augue nec justo congue, ac ullamcorper dui posuere. Curabitur rhoncus fringilla commodo. Quisque nec sapien aliquet, accumsan nibh vitae, rutrum velit. Integer fermentum placerat tortor, eu vehicula tortor dapibus non. Curabitur tincidunt posuere gravida. Integer condimentum eros vel orci sagittis lobortis.
		.clients

	.contact(ng-show="panels[4].status")
		.header.col-xs-12
			.col-xs-6.info
			.col-xs-6.form
		.map


