doctype html

html

    head
        title=title

        // MyStyles
        link(href='/stylesheets/style.css', rel='stylesheet')

        // JQuery
        script(src="/javascript/jquery-2.1.4.min.js", type="text/javascript")

        // Animate.Css
        link(href='/stylesheets/animate.css', rel="stylesheet")

        // Bootstrap & Font Awesome
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

        // Landing
        script(src="/javascript/landing.js", type="text/javascript")

        //Angular
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js", type="text/javascript")
        script(src="/javascript/angular/app.js", type="text/javascript")
        script(src="/javascript/angular/controllers.js", type="text/javascript")


    body(ng-app = "myApp" ng-controller="iconCtrl")
        include ../public/html/header.html
        block content 
