/*==================================================
 * MAIN STYLE SHEET
 * Home Page

 * Color References
   	* Green: #38B449;
   	* Grey: #36454f;
   	* 

 * Attribute Explanationas
 	* position
 		- fixed: scrolls as you scroll;
 		- relative: stays positioned relative to other elements;
 	* width
 		- width of element
 		- % determines width in relation to element one level higher
 	* height
 		- height of element
 	* background
 		- background color
 		- background-image: used to make image background;
 	* color
 		- font color
 	* z-index
 		- location of element on z-axis
 	* display
 		- inline-block: displays elements horizontally if space available
 		- block: displays elements vertically;

 * ===============================================*/
 
 @font-face {
    font-family: Main;
    src: url('/fonts/Gotham-Light.otf');
}

 @font-face {
    font-family: Bold;
    src: url('/fonts/Gotham-Bold.otf');
}

 html body {
	color: #000000;
	font-family: Main;
	padding: none;
	display: block;
}
.navbar {
	padding: 10px;
}

.navbar img {
	max-height: 20px;
}

.navbar-fixed-top {
	z-index: 6;
}

.exception {
	border: none;
}

i {
	color #38B449;
}


.home .people .blog .contact {
	height: auto;
	min-height: 48vw;
	width: 100%;
}

/*==================================================
 * Landing
 * ===============================================*/

 .landing {
 	padding: 5%;
 	padding-top: 8%;
 	display: block;
  	min-height: 56vw;
 	text-align: center;
 	background: #231F20;
 }

.landing .logo {
	text-align: center;
	margin-right: 2%;
}

.landing .bold {
	font-family: Bold;
}

.landing p {
	margin: 1%;
}

.landing h2 {
	color: #efefef;
}

.landing .circle {
	display: block;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	text-align: center;
	background: #287543;
	color: #287543;
	vertical-align: middle;
	overflow: none;
}

.landing .circle:hover {
	background: #38B449;
	color: #fff;
}

.landing .circle p {
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
}

.landing .headline {
	margin-top: 5%;
}

.landing ul {
	display: block;
	margin: auto;
}

.name {
	margin-right: 5%;
}

.block {
	vertical-align: middle;
	margin: 2%;
	display: inline-block;
	max-width: 100%;
}

.block h1 {
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 600%;
}

.block .circle {
	display: block;
	margin-top: 13%;
	margin-bottom: 13%;
}


/*==================================================
 * Copy
 * ===============================================*/

 .description {
 	background: #fff;
 	background-size: 100%;
 	background-repeat: none;
 	color: #231F20;
}

.title {
	background: #efefef;
	text-align: center;
	padding: .5%;
}

.title ul {
	display: block;
	margin: auto;
}

.title li {
	display: inline-block;
	list-style-type: circle;
	color: #000;
}

.about {
	text-align: center;
	background-image: url('/images/office.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
}

.about button {
	margin-top: 2%;
	background: #fff;
	border: none;
	color: green;
}

.about img {
	margin: 1%;
	max-height: 30px;
	text-align: center;
}

.about h2 {
	text-align: center;
	margin-top: 2%;
	color: #fff;
	font-size: 160%;
}

.about p {
	text-align: center;
	font-size: 90%;
	padding-right: 18%;
	padding-left: 18%;
}

.capabalities h2 {
	text-align: center;
	font-size: 160%;
	margin-top: 4%;
	color: #38B449;
}

.capabalities p {
	text-align: center;
	font-size: 90%;
	margin: 2%;
	padding-right: 18%;
	padding-left: 18%;
}

.capabalities .images {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}

.capabalities ul {
	width: 30%;
	display: inline-block;
	text-align: center;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.capabalities img {
	width: 65%;
	margin-right: auto;
	margin-left: autol
}
