/*==================================================
 * Our Work STYLE SHEET
 * Home Page

 * Color References
   	* Green: b
   	* Grey: #36454f;
   	* 

 * Attribute Explanationas
 	* position
 		- fixed: scrolls as you scroll;
 		- relative: stays positioned relative to other elements;
 	* width
 		- width of element
 		- % determines width in relation to element one level higher
 	* height
 		- height of element
 	* background
 		- background color
 		- background-image: used to make image background;
 	* color
 		- font color
 	* z-index
 		- location of element on z-axis
 	* display
 		- inline-block: displays elements horizontally if space available
 		- block: displays elements vertically;

 * ===============================================*/

.work {
 	height: auto;
	min-height: 100%;
	width: 100%;
}

.work h1 {
	text-align: center;
}

.work .intro h1 {
	color: #fff;
	margin-bottom: 2%;
}

.work .intro{
	background: #38B449;
	padding: 5%;
 	padding-top: 8%;
 	display: block;
  	min-height: 28vw;
 	text-align: center;
	height: auto;
}

.work .intro p {
	color: #fff;
	text-align: center;
	font-size: 90%;
	padding-right: 18%;
	padding-left: 18%;
}


.clients .images {
	margin: auto;
	display: block;
	width: 80%;
}

.clients ul {
	width: 30%;
	display: inline-block;
	text-align: center;
	margin: auto;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.clients img {
	width: 65%;
	margin: auto;
	display: block;
}